#hi {
  font-size: 24px;
  display: inline-block;
  /*width: 20%;*/
  float: left;
  writing-mode: tb-rl;
  transform: rotate(180deg);
  color: #FEFAE8;
  margin-top: 11%;
  padding-right: 2%;
}

.bigBold {
  font-size: 32px;
  font-weight: bold;
}

#section1 {
  background: #2E94C2;
  height: 650px;
}

#intro {
  font-size: 18px;
  position: absolute;
  padding-left: 50%;
  margin-top: -40%;
  width: 40%;
  color: #FEFAE8;
  line-height: 1.4em;
  text-align: center;
}

.section1-div {
  width: 20%;
  display: inline-block;
  margin: 0;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
}

#link-section {
  height: 100%;
}

#div1-1 {
  background: #A7E668;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: 15%;
}

#div1-2 {
  background: #FECD1E;
  height: 35%;
  margin-top: 33%;
}

#sme-img {
  margin-bottom: 5.1%;
  margin-top: 10%;
}

#div1-3 {
  background: #D13896;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-top: 33%;
  flex-direction: column;
  font-size: 20px;
  color: #FEFAE8;
  font-weight: bold;
}


#quote {
  padding: 2% 5%;
  margin-top: -10%;
  text-align: center;
  width: 80%;
}

.quote-swirl {
  margin-top: 5%;
  width: 120px;
  height: auto;
}

#lullaby-img {
  margin-top: 5%;
  margin-bottom: 30%;
}

#div1-4 {
  background: #534250;
  height: 35%;
  margin-top: 33%;
}

.circle-images {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  outline: none;
}

.circle-images:hover {
  width: 205px;
  height: 205px;
}


@media (max-width: 1279px) {

  #hi {
    color: magenta;
  }

  #link-section {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 25%;
    height: 100%;
    justify-content: space-around;
    margin: 0
  }

  .section1-div {
    width: 100%;
  }

  #div1-1 {
    width: 100%;
    margin: 0;
  }

  #sme-img {
    height: 50px;
    width: 50px;
  }

  #div1-2 {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 200px;
    padding-top: 10%;
  }

  #dragon-img {
    height: 50px;
    width: 50px;
  }

  #div1-3 {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 200px;
  }

  #lullaby-img {
    height: 50px;
    width: 50px;
  }

  #div1-4 {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 200px;
  }

  #dexter-img {
    height: 50px;
    width: 50px;
  }

  #quote,
  .quote-swirl {
    display: none;
  }

}
