#hi {
  font-size: 32px;
  display: inline-block;
  /*width: 20%;*/
  float: left;
  writing-mode: tb-rl;
  transform: rotate(180deg);
  color: #FEFAE8;
  margin-top: 15%;
  padding-right: 2%;
}

#section1 {
  background: #2E94C2;
  height: 650px;
}

#intro {
  font-size: 18px;
  position: absolute;
  padding-left: 50%;
  padding-top: 10%;
  width: 40%;
  color: #FEFAE8;
  line-height: 1.4em;
  text-align: center;
}

.section1-div {
  width: 20%;
  display: inline-block;
  margin: 0;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
}

#div1-1 {
  background: #A7E668;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: 15%;
}

#div1-2 {
  background: #FECD1E;
  height: 35%;
  margin-top: 33%;
}

#sme-img {
  margin-bottom: 5.1%;
  margin-top: 10%;
}

#div1-3 {
  background: #D13896;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-top: 33%;
  flex-direction: column;
  font-size: 20px;
  color: #FEFAE8;
  font-weight: bold;
}

#summary {
  padding: 5%;
  text-align: center;
}

#lullaby-img {
  margin-top: 5%;
  margin-bottom: 30%;
}

#div1-4 {
  background: #534250;
  height: 35%;
  margin-top: 33%;
}

.circle-images {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
