#FunStuff {
  background: #2E94C2;
  height: 650px;
}

#about-hi {
  font-size: 24px;
  display: inline-block;
  float: left;
  writing-mode: tb-rl;
  transform: rotate(180deg);
  color: #FEFAE8;
  margin-top: 15%;
  padding-right: 5%;
}

.bigBold {
  font-size: 32px;
  font-weight: bold;
}

#FunStuff-intro {
  font-size: 18px;
  position: absolute;
  padding-left: 50%;
  padding-top: 4%;
  width: 40%;
  color: #FEFAE8;
  line-height: 1.4em;
  text-align: center;
}

.section1-div {
  width: 20%;
  display: inline-block;
  margin: 0;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
}

#about-div1-1 {
  background: #A7E668;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: 12%;
}

#fun-stuff-div1-2 {
  background: #FECD1E;
  height: 35%;
  margin-top: 33%;
}

#cooking-img {
  margin-bottom: 5.1%;
  margin-top: 10%;
  background: #FEFAE8;
}

#travel-img {
  margin-bottom: 5.1%;
  margin-top: 10%;
  background: #FEFAE8;
}

#about-div1-3 {
  background: #D13896;
  height: 35%;
  margin-top: 33%;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  font-size: 20px;
  color: #FEFAE8;
  font-weight: bold;
}

#summary {
  padding: 5%;
  text-align: center;
}

#fun-stuff-div1-4 {
  background: #534250;
  height: 35%;
  margin-top: 33%;
}

.circle-images {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  outline: none;
}

.circle-images-bottom {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  outline: none;
}

#italics {
  font-style: italic;
}

@media screen and (max-width: 1279px) {
  .bottom-div {
    display: none;
  }
  #cooking-img {
    display: none;
  }

}
