#projects {
  background: #FEFAE8;
  height: 650px;
  padding-top: 10%;
  background-image: url(../images/Projects/background.jpg);
  display: flex;
}

#projects-box {
  width: 40%;
  height: 80%;
  background: #2E94C2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#project-summary {
  width: 80%;
  text-align: center;
  color: #534250;
  font-weight: bold;
  margin-top: -4%;
}

.project-badge {
  width: 300px;
  height: 350px;
  position: absolute;
  margin-top: 20px;
}

#badge-2 {
  width: 300px;
  height: 300px;
  position: absolute;
}

#badge-3 {
  width: 250px;
  height: 300px;
  position: absolute;
}

#project-links-1 {
  margin-left: 50%;
  margin-top: -10%;
  display: flex;
  flex-direction: column;
  height: 80%;
  justify-content: center;
  align-items: center;
  width: 200px;
  position: absolute;
}

#project-links-2 {
  margin-left: 63%;
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  height: 80%;
  justify-content: center;
  align-items: center;
  width: 200px;
  position: absolute;
}

#project-links-3 {
  margin-left: 75%;
  margin-top: -10%;
  display: flex;
  flex-direction: column;
  height: 80%;
  justify-content: center;
  align-items: center;
  width: 200px;
  position: absolute;
}

.link-box {
  margin-top: -25px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  border: 1px dashed #D13896;
  border-radius: 4px;
  padding: 10px 0;
  justify-content: space-around;
  align-items: center;
  width: 120px;
}

.link-box2 {
  border: 1px solid #2E94C2;
  border-radius: 25px;
  width: 150px;
}

.link-box3 {
  border: none;
}

.p-links {
  text-decoration: none;
  color: #534250;
  font-size: 1.3em;
  margin-bottom: 20px;
  z-index: 1;
}

.links-3 {
  color: #FEFAE8;
}

.last-link {
  margin-bottom: 4px;
}

.first-link {
  margin-top: 5px;
}

.p-links:hover {
  font-weight: bold;
  letter-spacing: none;
}
