#section3 {
  background: #DFDCDF;
  height: 650px;
  padding-top: 10%;
  background-image: url(../images/background.jpg);
}

#div3-1 {
  width: 40%;
  height: 60%;
  background: #2E94C2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#section3-content {
  width: 60%;
  text-align: center;
}
